body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    flex: auto;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    text-align: center;
    padding: 50px;
}

.content h1 {
    color: #333;
}

.content p {
    color: #666;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

section#hobiler ul {
    list-style-type: none;
    padding: 0;
}

section#hobiler ul li {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
    vertical-align: top;
}

section#hobiler ul li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

img.hobbyPic {
    width: 500px;
    height: 500px;
}

.footer p {
    margin: 100px;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    .menu ul li {
        display: block;
        margin-bottom: 10px;
    }

    .content {
        padding: 20px;
    }
}